# Git
.git
.gitignore
.dockerignore

# Python virtual environment
.venv
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDE/Editor folders
.idea/
.vscode/

# Docker files
Dockerfile
docker-compose.yml